@font-face {
	font-family: 'Conv_Montserrat-Light';
	src: url('../fonts/Montserrat-Light.eot');
	src: local('вє'), url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.ttf') format('truetype'), url('../fonts/Montserrat-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Montserrat-ExtraLight';
	src: url('../fonts/Montserrat-ExtraLight.eot');
	src: local('вє'), url('../fonts/Montserrat-ExtraLight.woff') format('woff'), url('../fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('../fonts/Montserrat-ExtraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot');
  src: local('вє'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot');
  src: local('вє'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Raleway-SemiBold';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: local('вє'), url('../fonts/Raleway-SemiBold.woff') format('woff'), url('../fonts/Raleway-SemiBold.ttf') format('truetype'), url('../fonts/Raleway-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('вє'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot');
  src: local('вє'), url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf') format('truetype'), url('../fonts/Raleway-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_Raleway-ExtraBold';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: local('вє'), url('../fonts/Raleway-ExtraBold.woff') format('woff'), url('../fonts/Raleway-ExtraBold.ttf') format('truetype'), url('../fonts/Raleway-ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@colorfont: #ffffff;
@colortitle: #555555;
@background-gradient: linear-gradient(to right, #241d1a, #4a3126);
.font-basic(@_font: Conv_Montserrat-Light, @_size: 14px, @_weight: normal, @_color: @colorfont, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}

.animation-basic(@_time: .3s){
  -webkit-transition: all @_time ease;
  -moz-transition: all @_time ease;
  -ms-transition: all @_time ease;
  -o-transition: all @_time ease;
  transition: all @_time ease;
}

.border-basic(@_size: 5px, @_border: none, @_bg: none, @_animate: none, @_time: .3s){
  -webkit-border-radius: @_size;
  border-radius: @_size;
  border: @_border;
  background: @_bg;
  & when (@_animate = true) {.animation-basic(@_time);}
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  text-align: center;
}

.header{
	background: url(../img/slide.png) no-repeat top center;
	    .container{
	    	.navbar-header{

	    			span{
	    				background: #fff;
	    			}
	    			button{
	    				border: 1px solid #fff;
	    				float: right;
	    				margin-right: 80px;
	    				margin-top: 30px;
	    			}
	    		.navbar-toggle{
	    			
	    			
	    		}
	    	}
	    	.nav{
	    		padding-right: 50px;
	    		float: right;
	    		padding-top: 20px;
	    		li{
	    			padding: 0px;
	    			a{
	    				background: none;
	    				.font-basic();
	    				&:hover{
	    					color: #c7b299;
	    				}
	    			}
	    		}

	    	}
	    	.carousel{
	    		a{
	    			
	    		}
	    		position: static;
	    		.carousel-caption{
	    			position: static;
	    			margin-top: 50px;
	    			button{
	    				.font-basic(@_font: 'Conv_Raleway-ExtraBold', @_size: 14px, @_upper: uppercase);
	    				margin: 80px;
	    				padding: 20px 40px;
	    				background: #998675;
	    				border:none;
	    			}
	    			h2{
						.font-basic(@_font: 'Conv_Raleway-Medium', @_size: 36px);
	    			}
	    			h1{
						.font-basic(@_font: 'Conv_Raleway-ExtraBold', @_size: 52px);
	    			}
	    			p{
	    				.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 24px);
	    			}
	    		}
	    		ol{
	    			position: relative;
	    		}

	    	}
		
	}	
}
.block-1{
	.container{
		.elements{
			margin: 80px;
			span{
				font-size: 45px;
			}
			h4{
				.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 22px, @_color: @colortitle);
			}
			p{
				.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 14px, @_line: 24px, @_color: @colortitle);
			}
			hr{
				width: 30%;
				margin: 0 auto;
			}
			
			.element{
				&:hover{
					cursor: pointer;
					h4{
						color: #c7b299;
					}
					hr{
						border:1px solid #c7b299;
					}
					span{
						color: #c7b299;
					}
					
				}
			}
		}
	}
}
.block-2{
	background: #fbfaf8;
	h3{
		.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px, @_color: @colortitle);
	}
	p{
		.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px, @_color: @colortitle);
	}
}
.block-3{
	background: @background-gradient;
	.container{
		text-align: left;
		h3{
			.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px);
			span{
				color: #c7b299;
			}
		}
		p{
			.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px, @_color: #615855);
		}
		button{
			.font-basic(@_font: 'Conv_Raleway-ExtraBold', @_size: 14px, @_upper: uppercase);
			padding: 20px 40px;
			background: #998675;
			border:none;
			float: right;
			margin: 30px auto;
		}

	}
}
.block-4{
	.container{

		h3{
			.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px, @_color: @colortitle);
		}
		p{
			.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px, @_color: @colortitle);
		}
		.menu{
			
			ul{ width: 60%;
				margin: 20px auto;
				border: none;
				li{

					padding: 5px;
					a{
						
						color: #8c8c8c;
						border: 1px solid #ebebeb;
							&:hover{
							cursor: pointer;
							background: #998675;
							color: #fff;
						}
					}
				}
			}
			
				
			img{
				max-height: 200px;
				width: 100%;
			}
			
		}
		button{
			.font-basic(@_font: 'Conv_Raleway-ExtraBold', @_size: 14px, @_upper: uppercase);
			padding: 20px 40px;
			background: #998675;
			border:none;
			margin: 30px auto;

		}
		.backhover{
			margin-bottom: 20px;
			h4{
				.font-basic(@_font: 'Conv_Raleway-Medium', @_size: 20px, @_color: #c7b299);
			}
			p{
				.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 14px, @_line: 20px, @_color: #d1d1d1);
			}
					&:hover{
						cursor: pointer;
						background: #362f2d;
						h4{
							color: #fff;
						}
						p{
							color: #c7b299;
						}
					}
				}

	}
}

.block-5{
		background: url(../img/background_video.png) no-repeat center;
		a{
			img{
				margin-top: 200px;
			}
		}
		h3{
			.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px);

		}
		p{
			.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px);
			margin-bottom: 250px;
		}

}
.block-6{
	.container{
		.iphone{
			margin-top: 40px;
			img{
				float: right;
			}
		}
		.iphone_text{
			text-align: left;
			h3{
				margin-top: 200px;
			.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px, @_color: @colortitle);
			}
			p{
			.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px, @_color: @colortitle);
			}
			ul{
				margin-left: 30px;
				li{
					list-style-type: none;
					.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 32px, @_color: @colortitle);
					img{
						margin-right: 20px;
					}
					a{
						text-decoration: none;
						color: @colortitle;

					}
				}
			}

		}
	}
}
.block-7{
	background: @background-gradient;
	img{
		margin-top: 60px;
	}
	h5{
		.font-basic(@_font: 'Conv_Montserrat-ExtraLight', @_size: 48px, @_line: 36px);
	}
	p{
		.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 14px, @_line: 20px, @_color: #bfab93, @_upper: uppercase);
	}
	hr{
		width: 30%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
}
.block-8{
	.container{
			.title{
				h3{
				
				.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 30px, @_color: @colortitle);
				}
				p{
				.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 16px, @_line: 28px, @_color: @colortitle);
				}
		}
		.slide-block-8{
			.backhover{
				&:hover{
					cursor: pointer;
					background: #362f2d;
					h3{
						color: #c7b299;
					}
					a{
						color: #c7b299;	
					}
					p{
						color: #fff;
					}
				}
			}

			text-align: left;
			.carousel-indicators{
				margin: 30px auto;
				left: 0;
				position: relative;
				li{
					border: 1px solid #000;
				}
			}
		}	
	}
}

.block-9{
	background: url(../img/baner_block-9.png) no-repeat center;
	.elements{
		margin: 130px auto;
	}
}
.block-10{
	background: #191919;
	text-align: left;
	.content{
		margin-top: 80px;
	}
}
.block-10{
	.container{
		.logo-block-10{
			img{
			margin-bottom: 20px;
			}
			a{
			color: #fff;
			}
		}
		

		h3{
			.font-basic(@_font: 'Conv_Raleway-SemiBold', @_size: 24px);
			margin: 20px auto;
		}
		p{
			.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 14px, @_line: 24px, @_color: #525252);
		}
		.post{
			hr{
				background: #252525;
				border: 1px solid;
			}
		}
		.twitter{
			hr{
				background: #252525;
				border: 1px solid;
			}
			span{
				color: #01b7e9;
			}
		}
		.vidget{
			.row{
				margin-bottom: 15px;
			}
		}
	}
}
.footer{
	background: #111111;
	.container{
		.footer-ul{
			margin: 40px auto;
			ul{
				
				li{

					float: left;
					list-style-type: none;
					border-right: 1px solid #252525;
					span{
						color: #959595;
					}
					&:last-child{
						border-right: none;
					}
					a{	
						padding: 10px 20px;
						text-decoration: none;
						.font-basic(@_font: 'Conv_Montserrat-Light', @_size: 13px, @_line: 20px, @_color: #525252);
						&:hover{
							color: #9b8a77;
						}
					}
				}
			}
		}
	}
}


